<div class= 'text-center'>
  <ul class="list-inline text-center">
    <h1>Our team</h1>
    <% ["anne", "seb", "romain"].each do |member| %>
    <li>
      <%= image_tag "#{member}.jpg", class: "img-circle resize" %>
      <h3><%= member.capitalize %></h3>
    </li>
    <% end %>
  </ul>

  <%= link_to "contact@airbnb.com", "mailto:contact@airbnb.com", class: "padded fa fa-envelope text-center sized" %>
</div>
<!--
<ul class="list-inline text-center">
  <li>
    <img src="images/boris.png" alt="">
    <h3>Boris</h3>
  </li>
  <li>
    <img src="images/seb.png" alt="">
    <h3>Seb</h3>
  </li>
  <li>
    <img src="images/romain.png" alt="">
    <h3>Romain</h3>
  </li>
</ul>
-->
